<!doctype html>
<html ng-app="ScoreboardApp">
<head>
  <meta charset="utf-8" />
  <title>Scores</title>  
  <link rel="stylesheet" text="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.0/css/foundation.css">  
  <link rel="stylesheet" text="text/css" href="css/app.css">  
  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
</head>
<body ng-controller="AppController" ng-cloak>

  <div class="container">
    
    <div ng-show="!isCreated" class="row">
      <h3>How Many Players?</h3>
      <input type="number" ng-model="numberOfPlayers" value="{{numberOfPlayers}}">
      <button class="small round" ng-click="create()">Create</button>
    </div>

    <div ng-show="isCreated && !isStarted" class="row">
      <h3>Enter The Player Names</h3>
      <div ng-repeat="player in players">
        <input type="text" ng-model="player.name" />
      </div>
      <button class="small round" ng-click="start()">Start</button>
    </div>

    <div ng-show="isStarted"  class="row">
      <h3>The Score Board</h3>
    </div>
    <div ng-show="isStarted" class="row players" ng-repeat="player in players | orderBy: 'score': true" >

      <div class="columns large-1">
        <div class="score">
          {{player.score}} 
        </div>
      </div>
      <div class="columns large-9">
        {{player.name}} 
      </div>      
      <div class="buttons columns large-2 right">
        <i class="fa fa-plus" ng-click="up(player)"></i>
        <i class="fa fa-minus" ng-click="down(player)"></i>
      </div>
    </div>

  </div>
  

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
  <script type="text/javascript">
    var app = angular.module("ScoreboardApp", []);

    app.controller("AppController", function($scope) {
      $scope.numberOfPlayers = 4;
      $scope.players = [];
      $scope.isCreated = false;
      $scope.isStarted = false;

      $scope.create = function() {
        $scope.isCreated = true;
        for(var i=0; i < $scope.numberOfPlayers; i++) {
          $scope.players.push(new Player());
        }
      }

      $scope.down = function(player){
        player.score = player.score - 1;
      }

      $scope.start = function(player){
        $scope.isStarted = true;
      }

      $scope.up = function(player){
        player.score++;
      }

    });

    function Player() {
      return {
        name: '', score: 0        
      };
    }
  </script>
</body>
</html>